@model MyStorageSite.Models.Order

@{
    ViewData["Title"] = "EditOrder";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>EditOrder</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                @*<input asp-for="Address" name="Address" class="form-control" />*@
                @Html.EditorFor(a => a.Address)
                <span asp-validation-for="Address" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="contactPhone" class="control-label">Contact Phone</label>
                @*<input asp-for="contactPhone" name="contactPhone" class="form-control" />*@
                @Html.EditorFor(a => a.contactPhone)
                <span asp-validation-for="contactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderData" class="control-label">Data</label>
                @*<input asp-for="OrderData" name="OrderData" type="date" class="form-control" />*@
                @Html.EditorFor(a => a.OrderData)
                <span asp-validation-for="OrderData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
                <a href="@Url.Action("AllOrders", "Home")" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


